DB_NAME=sgcub_db
DB_USER=tu_usuario_local
DB_PASSWORD=tu_contraseña_secreta
DB_HOST=db
DB_PORT=5432
DEBUG=True
SECRET_KEY=cambiar_por_una_clave_larga_y_aleatoria
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
